header {
  position: fixed;
}
#header-img{
  height:100px;
}
#form{
  postion: absolute;
  padding: 100px 10px 10px 50px;
}
@media (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#flexelement{
  display: flex;
  flex-direction: column;
  
}
